
/* Bog tablets to 1200px (widths smaller than the 1140px row) */
@media only screen and (max-width: 1200px) {
    .icon-header {
        margin-left: 50px;
}
    .about-p {
        width: 50px;
        font-size: 10px;
    }
    .cta {
        height: ;
    }
    .cta h1  {
        font-size: 20px;
    }
    .about-content {
        padding-right: -70px;
    }

